# Single files or matchable globs
include .coveragerc
include .flake8

include LICENSE
include README.rst
include AUTHORS
include *.rst
include *.txt
include *.ini
include *.sql
include *.cfg
include *.py

# Project
graft docs
graft requirements
graft termlog
graft termlog/vendored/licenses
graft tests

# Prune unwanted folders

# Prune unwanted files
global-exclude *.py[cod]
